<div class="pt-2">
  <h5>Artists</h5>
  <div data-controller="artists" data-artists-url="<%= search_artists_path %>">
    <%= simple_form_for :search, html: { onsubmit: 'return false' } do |f| %>
      <div class="mb-3">
        <%= f.input :query, label: 'Search', required: false, label: false, placeholder: 'Search term', input_html: { value: session[:artists_q] || '' } %>
      </div>
    <% end %>
    <div id="results"></div>
  </div>
</div>
