<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Player', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%#%= link_to 'Sync', sync_mp3s_path, class: 'nav-link', confirm: 'Are you sure?' %>
          <%= link_to 'Playlists', playlists_path, class: 'nav-link', remote: true %>
        </li>
      </ul>
      <%= simple_form_for :playlists, class: 'd-flex' do |f| %>
        <%= f.input :playlist, as: :select, collection: Playlist.select_options, selected: @current_playlist.id, class: 'form-select' %>
      <% end %>
    </div>
  </div>
</nav>
