<div data-controller="mp3s" data-mp3s-url="<%= search_mp3s_path %>">
  <%= simple_form_for :search do |f| %>
    <div class="mb-3 mt-3">
      <%= f.input :query, label: 'Search', required: false, label: false, placeholder: 'Search term', input_html: { value: session[:q] || '' } %>
    </div>
  <% end %>
  <div id="results"></div>
</div>
