<div class="row pt-2">
  <div class="col-8">
    <div class="text-center pt-4">
      <audio controls autoplay src="<%= src_mp3_path(mp3) %>" preload="auto">
        Your browser does not support the <code>audio</code> element.
      </audio>
    </div>
  </div>
  <div class="col-4">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td class="col-1 text-end">Artist</td>
          <td><%= mp3.artist.name %></td>
        </tr>
        <tr>
          <td class="text-end">Album</td>
          <td><%= mp3.album.name %></td>
        </tr>
        <tr>
          <td class="text-end">Title</td>
          <td><%= mp3.title %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
