<div class="row pt-2">
  <div class="col">
    <h5>New Playlist</h5>
    <div class="card">
      <div class="card-body">
        <%= simple_form_for playlist, method: :post, remote: true do |f| %>
          <div class="mb-3">
            <%= f.input :name, class: 'form-control' %>
          </div>
          <div>
            <%= f.submit 'Create', class: 'btn btn-primary btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
